/** Start Global Roles **/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #444;
  --secondaryColor: #eeeeee;
  --text-color: #7f8487;
  --hoverColor: #ff0000;
  --footer-color: #f8f8f8;
  --transition: 0.4s;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.text-gradient {
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/** Small **/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/** Medium **/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/** Large **/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 25px;
  padding-bottom: 20px;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  bottom: 0;
  left: 50%;
  background: var(--mainColor);
  transform: translateX(-50%);
}

.main-title::after {
  position: absolute;
  font-size: 20px;
  padding: 5px;
  bottom: -12px;
  left: 50%;
  background: #fff;
  transform: translateX(-50%);
  color: var(--mainColor);
}

.about,
.services,
.skills,
.projects,
.contact {
  padding: 60px 0;
}

.about .about-content {
  margin-top: 75px;
}

.about .about-content,
.services .services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.scroll-up-btn {
  position: fixed;
  line-height: 36px;
  width: 40px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  right: 30px;
  bottom: 10px;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  cursor: pointer;
  font-size: 20px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.scroll-up-btn.show {
  bottom: 220px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/** End Global Roles**/

/** Start banner **/

.navbar {
  width: 100%;
  height: 50px;
  transition: all var(--transition);
  z-index: 999;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}

.navbar .logo img {
  height: 45px;
  object-fit: cover;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu > li > a {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: var(--transition) ease;
  overflow: hidden;
}

.navbar .menu > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
}

.navbar .menu > li > a:hover {
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar .menu > li > a:hover::before {
  left: 0;
  transition: var(--transition);
}

/* Start mobile menu */
.navbar .menu-btn {
  color: var(--mainColor);
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* End mobile menu */

/** End banner **/

/** Start Section1 **/

.section1 {
  display: flex;
  background-image: url("../images/bg-sc1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

.section1 .container {
  text-align: center;
}

.section1 .section1-content .intro1 {
  font-size: 30px;
  color: var(--mainColor);
}

.section1 .container .section1-content {
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  margin-top: -165px;
  left: 0;
}

.section1 .section1-content .intro2 {
  font-size: 60px;
  font-weight: 500;
  margin-left: -3px;
  color: var(--mainColor);
  margin: 20px 0 0 0;
}

.section1 .section1-content .intro3 {
  font-size: 40px;
  margin: 5px 0;
  height: 100px;
  margin: 25px 0 60px 0;
  color: var(--mainColor);
}

.section1 .section1-content .intro3 span {
  font-weight: bold;
  font-size: 80px;
}

.section1 .section1-content a {
  display: inline-block;
  margin: 25px 33px 0 20px;
  font-size: 20px;
  cursor: pointer;
  transition: var(--transition);
}

.section1 .section1-content a.work {
  position: relative;
  background-color: var(--mainColor);
  color: #fff;
  padding: 23px 44px;
  border-radius: 50px;
  font-weight: bold;
}

.section1 .section1-content a.work i {
  position: absolute;
  margin: 3px 0 0 7px;
  left: 0;
  opacity: 0;
  transition: var(--transition);
}

.section1 .section1-content a.work:hover {
  background: none;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
}

.section1 .section1-content a.work:hover i {
  opacity: 1;
  right: -190px;
}

.section1 .section1-content a.contact {
  color: var(--mainColor);
  font-weight: 500;
  text-decoration-line: revert;
}

.section1 .section1-content a.contact i {
  margin: 0 6px 0 0;
}

/** End Section1 **/

/** Start about **/

.about,
.skills {
  position: relative;
}

.about .main-title::after {
  content: "Who i am ?";
}

.about .about-content .left {
  width: 41%;
}

.about .container img.circle {
  position: absolute;
  right: 70px;
  top: 67px;
  width: 80px;
  height: 80px;
}

.about .about-content .left img {
  position: relative;
  max-width: 100%;
  object-fit: cover;
  animation: up-down 3s linear infinite;
}

.about .about-content .right {
  width: 45%;
}

.about .container img.dots {
  position: absolute;
  top: 57px;
  width: 150px;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.3;
  height: 70px;
  color: var(--mainColor);
}

.about .about-content .right p {
  text-align: justify;
  line-height: 1.8;
  color: var(--mainColor);
}

.about .about-content .right a {
  display: inline-block;
  color: var(--mainColor);
  font-size: 17px;
  font-weight: 500;
  padding: 16px 40px;
  margin-top: 40px;
  cursor: pointer;
  border: 2px solid var(--mainColor);
  transition: var(--transition);
  border-radius: 50px;
}

.about .about-content .right a:hover {
  color: #fff;
  background-color: var(--mainColor);
}

/** End about **/

/** Start Services **/

.services .bg {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0 113px 0;
}

.services .main-title::after {
  content: "What i provide ?";
}

.services .services-content .card {
  width: calc(33% - 20px);
  height: 305px;
  text-align: center;
  color: var(--mainColor);
  transition: var(--transition);
  padding: 20px 25px;
  margin-bottom: 10px;
}

.services .services-content .card .box {
  height: 405px;
  background-color: #fff;
  border-radius: 3px;
  padding: 15px 10px;
  box-shadow: 0px 0px 5px 0px #22222275;
}

.services .services-content .card:hover {
  margin-top: -5px;
  transform: scale(1.05);
}

.services .services-content .card i {
  font-size: 40px;
  color: #ef813c;
}

.services .services-content .text {
  margin: 25px 0 10px 0;
  font-size: 26px;
  font-weight: bold;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.services .services-content p {
  text-align: center;
  line-height: 1.7;
  margin: 20px 0 0px 0;
  color: black;
}

.services .services-content p span {
  font-weight: bold;
}

/** End Services **/

/** Start Skills **/

.skills .main-title::after {
  content: "What i know ?";
}

.skills .container img.circle {
  position: absolute;
  top: 10px;
  width: 84px;
  left: 120px;
}

.skills .container img.dots {
  position: absolute;
  right: 125px;
  top: 62px;
  width: 160px;
}

.skills p {
  text-align: center;
  line-height: 1.6;
  margin: 0 0 60px 0;
  color: var(--mainColor);
}

.skills p span {
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.skills .skills-content .js-dev,
.skills .skills-content .py-dev {
  text-align: center;
  margin: 0 0 21px 0;
  font-size: 24px;
  color: var(--mainColor);
}

.skills .skills-content .designe-skills,
.skills .skills-content .up,
.skills .skills-content .bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}

.skills .skills-content .designe-skills .designe1,
.skills .skills-content .designe-skills .designe2,
.skills .skills-content .up .skills-1,
.skills .skills-content .up .skills-2,
.skills .skills-content .bottom .skills-3,
.skills .skills-content .bottom .skills-4 {
  width: 30%;
}

.skills .skills-content .designe-skills .bars,
.skills .skills-content .up .bars,
.skills .skills-content .bottom .bars {
  margin-bottom: 15px;
}

.skills .skills-content .designe-skills .info,
.skills .skills-content .up .info,
.skills .skills-content .bottom .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .designe-skills span,
.skills .skills-content .up span,
.skills .skills-content .bottom span {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--mainColor);
}

.skills .skills-content .designe-skills .line,
.skills .skills-content .up .line,
.skills .skills-content .bottom .line {
  width: 100%;
  height: 18px;
  background-color: rgb(238 238 238 / 65%);
  position: relative;
}

.skills .skills-content .designe-skills .line::before,
.skills .skills-content .up .line::before,
.skills .skills-content .bottom .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  color: transparent;
}

/** --------------------------- **/

.skills-content .html::before {
  width: 75%;
}

.skills-content .css::before {
  width: 65%;
}

.skills-content .scss::before {
  width: 55%;
}

.skills-content .bootstrap::before {
  width: 65%;
}

/** --------------------------- **/

.skills-content .up .js::before {
  width: 75%;
}

.skills-content .up .ts::before {
  width: 65%;
}

.skills-content .up .react::before {
  width: 60%;
}

.skills-content .up .vue::before {
  width: 50%;
}

.skills-content .up .node::before {
  width: 75%;
}

.skills-content .up .express::before {
  width: 70%;
}

.skills-content .up .nest::before {
  width: 70%;
}

/** --------------------------- **/

.skills-content .bottom .py::before {
  width: 60%;
}

.skills-content .bottom .flask::before {
  width: 55%;
}

.skills-content .bottom .fastapi::before {
  width: 45%;
}

/** --------------------------- **/

/** End Skills **/

/** Start Projects **/

.projects .bg {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 10px 0;
}

.projects .main-title::after {
  content: "What i make ?";
}

.projects .carousel .card {
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
  padding: 25px 30px;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
  margin: 30px 0;
}

.projects .carousel .card:hover {
  transform: scale(1.05);
  background-color: var(--footer-color);
}

.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects .carousel .card img {
  max-width: 100%;
  width: 415px;
  margin: 0;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.projects .carousel .card .text {
  font-size: 25px;
  margin: 25px 0 0 0;
}

.projects .carousel .card p {
  padding: 20px 0;
  line-height: 1.5;
  color: var(--mainColor);
}

.projects .carousel .card p span {
  font-size: 19px;
}

.projects .carousel .card .box .btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.projects .carousel .card .box .btns a {
  background: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  /* border: 2px solid var(--mainColor); */
  /* border-width: 2px; */
  /* border-style: solid; */
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* color: transparent; */
}

.projects .carousel .card .box .btns a:hover {
  background-color: #fff;
  background-image: none !important;
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
}

.projects .container .card .box .btns a.tracker:hover span,
.projects .container .card .box .btns a.creativeShot:hover span,
.projects .container .card .box .btns a.bedifferent:hover span,
.projects .container .card .box .btns a.product-page:hover span {
  display: none;
}

.projects .container .card .box .btns a.tracker:hover::before,
.projects .container .card .box .btns a.creativeShot:hover::before,
.projects .container .card .box .btns a.bedifferent:hover::before,
.projects .container .card .box .btns a.product-page:hover::before {
  content: "Not availabale !";
}

.projects .container .card .box .btns a.tracker:hover,
.projects .container .card .box .btns a.creativeShot:hover,
.projects .container .card .box .btns a.bedifferent:hover,
.projects .container .card .box .btns a.product-page:hover {
  background-color: var(--hoverColor) !important;
  color: #fff !important;
  border: 2px solid var(--hoverColor) !important;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  outline: none !important;
  border-radius: 50%;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  /* background-color: var(--mainColor) !important; */
  cursor: pointer;
  margin: 0 5px;
  transition: var(--transition);
}

.owl-dot.active {
  background-color: var(--mainColor) !important;
  border-radius: 14px !important;
  width: 35px;
}

.owl-dot:hover {
  background-color: var(--text-color) !important;
}

.owl-nav {
  position: absolute;
  display: block !important;
  width: 100%;
  top: 50%;
}

.owl-nav button span {
  font-size: 30px !important;
  font-weight: bold;
  line-height: 19px;
}

.owl-next,
.owl-prev {
  position: relative;
  border: 1px solid var(--mainColor) !important;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #fff !important;
  outline: none;
}

.owl-next {
  right: -100%;
}

.owl-prev {
  left: -70px;
}

/** End Projects **/

/** Start Contact **/

.contact .main-title::after {
  content: "get in touche";
}

.contact .up {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.contact .up .name,
.contact .up .email,
.contact .up .address {
  display: flex;
  align-items: center;
}

.contact .up .name i,
.contact .up .email i,
.contact .up .address i {
  display: block;
  margin: 0 10px 0 0;
  font-size: 20px;
  color: #f29f3a;
}

.contact .up .name a,
.contact .up .email a,
.contact .up .address p {
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact .up .email a:hover,
.contact .up .name a:hover {
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact .contact-content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--mainColor);
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .left .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .left .row i {
  font-size: 25px;
  color: var(--mainColor);
}

.contact .contact-content .left .row .info {
  margin-left: 30px;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .contact-content .info .my-media i {
  margin: 10px 10px 0 0;
}

.contact .contact-content .info .my-media i:hover {
  color: var(--hoverColor);
}

.contact form.contact-form {
  width: 50%;
}

.contact .field {
  margin: 0 0 20px 0;
}

.contact .formContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact .formContainer img {
  position: relative;
  object-fit: cover;
  width: 45%;
  margin-left: 56px;
  animation: 3s linear 0s infinite normal none running up-down;
}

.contact .field.Name {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 50px 0 20px 0;
}

.contact .field.Name .fName,
.contact .field.Name .lName,
.contact input.email,
.contact input.subject {
  display: flex;
  height: 40px;
}

.contact input.email,
.contact input.subject,
.contact textarea.message {
  width: 100%;
  padding: 6px;
}

.contact form input {
  border: transparent;
  border-bottom: 1px solid var(--text-color);
  outline: none;
  font-size: 17px;
}

.contact .textarea label {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin: 30px 0 20px 0;
}

.contact .textarea textarea {
  resize: none;
  outline: none;
  font-family: "Roboto";
  font-size: 15px;
}

.contact textarea.message {
  height: 115px;
  margin: 20px 0 0 0;
}

.contact form button {
  padding: 10px 45px;
  background: none;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  cursor: pointer;
  font-size: 18px;
  border-radius: 50px;
}

.contact form button:hover {
  background-color: var(--mainColor);
  font-weight: bold;
  color: #fff;
}

/** End Contact **/

/** Start Footer **/

.footer {
  background: #f29f3a;
  background: linear-gradient(
    124deg,
    #f29f3a,
    #ef813c,
    #f0466b,
    #d422ca,
    #fc22ac
  );
  padding: 25px 0;
  text-align: center;
}

.footer .footer-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.footer .footer-logo img {
  object-fit: contain;
  width: 100px;
}

.footer .footer-menu {
  margin: 30px 0;
}

.footer .footer-menu .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-menu ul li a {
  margin: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.footer .my-social a {
  margin: 0 10px;
  color: #fff;
}

.footer .my-social a:hover,
.footer .footer-menu ul li a:hover {
  color: #f4ae3e;
}

/** End Footer **/

/** Start animation **/

@keyframes up-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

/** End animation **/

/** start tahnk you page**/

.th-navbar {
  background: black;
  text-align: center;
  height: 80px;
}

.th-navbar img {
  height: 60px;
  margin: 10px auto;
}

.thank-content {
  text-align: center;
  width: 65%;
  margin: 80px auto;
  border-radius: 5px;
  padding: 25px 20px;
}

.thank-content h2 {
  font-size: 40px;
  margin: 10px 0;
}

.thank-content > p {
  font-size: 30px;
  margin: 0 0 20px;
}

.thank-content .text {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: center;
  margin: 0 0 45px 0;
}

.thank-content i {
  font-size: 25px;
  margin: 0 10px 0 0;
}

.thank-content p {
  font-size: 19px;
  line-height: 27px;
}

.thank-content .btn {
  text-decoration: none;
  border: 2px solid black;
  width: 115px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  color: var(--mainColor);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.thank-content .btn:hover {
  background-color: var(--mainColor);
  color: #fff;
}

/** End tahnk u page**/

/** Start Media Query **/

@media (max-width: 1300px) {
  .section1 .container {
    margin-left: 0;
  }

  .projects .carousel .card .box .btns {
    flex-direction: column;
  }

  .projects .carousel .card .box .btns a {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1120px) {
  .services .services-content .card {
    height: auto;
  }

  .projects .carousel .card p {
    height: 125px;
  }

  .contact .container .column.bottom {
    text-align: center;
  }

  .contact .formContainer img {
    display: none;
  }
}

@media (min-width: 691px) and (max-width: 991px) {
  .section1 .container .section1-content {
    margin-top: -360px;
  }
  .services .services-content .card {
    height: auto;
  }

  .contact .formContainer img {
    display: none;
  }

  .skills .container img.circle,
  .skills .container img.dots {
    display: none;
  }

  .owl-nav {
    width: 75%;
    top: auto;
  }

  .owl-prev {
    left: 123px;
  }

  .projects .carousel .card .text {
    height: 60px;
  }

  .projects .carousel .card p {
    height: 150px;
  }

  .contact form.contact-form {
    width: 95%;
  }
}

@media (max-width: 947px) {
  .navbar .menu-btn {
    display: block;
    z-index: 99;
  }

  .navbar .menu-btn i.active::before {
    content: "\f00d";
    color: #fff;
    z-index: 2;
  }

  .navbar .menu {
    position: fixed;
    background-color: #444444fc;
    opacity: 90%;
    width: 100%;
    z-index: 1;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 45px;
    transition: var(--transition);
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 12px 0;
    font-size: 19px;
  }

  .navbar .menu > li > a {
    color: #fff;
  }

  .section1 .section1-content .intro2 {
    font-size: 45px;
  }

  .section1 .section1-content .intro3 {
    font-size: 35px;
    margin-bottom: 150px;
  }

  .section1 .section1-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .services .services-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
  }

  .skills .skills-content .column:first-child {
    margin-bottom: 35px;
  }

  .contact .contact-content .column.left {
    margin-bottom: 35px;
  }

  .about .about-content .left img {
    display: none;
  }
}

@media (max-width: 690px) {
  .navbar .logo img {
    height: 35px;
  }

  .main-title {
    font-size: 32px;
  }

  .section1 {
    background-image: url("../images/header-mobile.jpg");
  }

  .section1 .container {
    margin: auto;
  }
  .section1 .section1-content .intro2 {
    font-size: 33px;
  }

  .section1 .section1-content .intro3 {
    font-size: 25px;
    width: 100%;
  }

  .section1 .section1-content .intro3 span {
    font-size: 35px;
  }

  .section1 .section1-content a {
    font-size: 20px;
    padding: 9px 15px;
  }

  .about {
    padding: 40px 0 10px 0;
  }

  .about .container img.circle,
  .about .container img.dots {
    display: none;
  }

  .about .about-content .right a {
    padding: 8px 14px;
  }

  .skills .container img.dots,
  .skills .container img.circle {
    display: none;
  }

  .skills .skills-content .designe-skills .designe1,
  .skills .skills-content .designe-skills .designe2,
  .skills .skills-content .up .skills-1,
  .skills .skills-content .up .skills-2,
  .skills .skills-content .bottom .skills-3,
  .skills .skills-content .bottom .skills-4 {
    width: 100%;
  }

  .services {
    padding: 10px 0 0 0;
  }

  .services .bg {
    background-image: none;
    padding: 15px 0 0 0;
  }

  .services .services-content {
    flex-direction: column;
  }

  .services .services-content .card {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .services .services-content .card .box {
    background: none;
  }

  .projects .carousel .card {
    padding: 0;
  }

  .owl-dots {
    margin-top: 0 !important;
    margin-bottom: 5px;
  }

  .contact,
  .projects {
    padding: 20px 0;
  }

  .contact .formContainer img {
    display: none;
  }

  .contact .up {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .contact .up .name,
  .contact .up .email,
  .contact .up .address {
    margin: 8px 0;
  }

  .contact .field.Name {
    flex-direction: column;
  }

  .contact .contact-content .text {
    font-size: 22px;
  }

  .contact form.contact-form {
    width: 95%;
  }

  .contact .right form .button {
    height: 40px;
  }

  .contact .field.Name .fName {
    margin: 0 0 15px 0;
  }

  .contact .field.Name .fName,
  .contact .field.Name .lName,
  .contact form input {
    width: 100%;
  }

  .footer .footer-menu ul li a {
    margin: 0 13px 0 0;
  }

  .scroll-up-btn.show {
    bottom: 105px;
  }

  .scroll-up-btn {
    right: 5px;
  }

  .owl-nav {
    width: 75%;
    top: auto;
  }

  .owl-prev {
    left: 20px;
  }

  .thank-content {
    width: 100%;
  }

  .thank-content .text {
    flex-direction: column;
  }
}

/** End Media Query **/
